185-143-145-25.sslip.io {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		Strict-Transport-Security "max-age=31536000"
	}
	request_body {
		max_size 210MB
	}
	reverse_proxy api:8000
}
